{% extends "base/base.html" %}
{% block description %}Login · {% endblock description %}
{% block keywords %}Login · {% endblock keywords %}
{% block title %}Login · {% endblock title %}
{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center display-4 fst-italic rounded">Login</h1>
        <div class="container">
            <div class="col">
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="mb-3 text-center">
                        <input type="submit" value="Login" class="btn btn-lg btn-primary">
                    </div>
                    <div class="text-center mt-1">
                        <div class="alert alert-success fs-3" role="alert">
                            Don't have an account? <a href="{% url 'account:signUp' %}" class="alert-link">Sign up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}