{% extends "base/base.html" %}
{% block description %}Update {{request.user.first_name}} Profile · {% endblock description %}
{% block keywords %}Update {{request.user.first_name}} Profile · {% endblock keywords %}
{% block title %}Update {{request.user.first_name}} Profile · {% endblock title %}
{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-8 mx-auto">
        <h1 class="text-center display-4 fst-italic rounded">Update Profile</h1>
        <div class="container">
        <div class="col">
            <hr>
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{form.errors}}
                    </div>
                {% endif %}
                <div class="row mb-3">
                    <div class="col">
                        <label for="firstname" class="form-label">First Name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col">
                        <label for="lastname" class="form-label">Last Name</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="username" class="form-label">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="col">
                        <label for="email" class="form-label">Email Address</label>
                        {{ form.email }}
                    </div>
                </div>
                
                <div class="row mb-3 text-center">
                    <div class="col">
                        <a href="{% url 'account:changeUserPassword' %}" class="btn btn-info">Change Password</a>
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
