{% extends "base/base.html" %}
{% load static %}
{% block description %}{{request.user.username}} Profile · {% endblock description %}
{% block keywords %}{{request.user.username}} Profile · {% endblock keywords %}
{% block title %}{{request.user.username}} Profile · {% endblock title %}
{% block content %}
<div class="container mt-3" id="custom-cards">
    {% include 'base/message.html' %}
    {% if request.user.is_authenticated %}
    <div class="d-flex justify-content-center">
        {% if request.user.channel.avatar %}
          <img src="{{request.user.channel.avatar.url}}" alt="{{request.user.username}}" width="150" height="150" class="rounded-circle shadow-sm p-1 mb-1 bg-dark">
        {% else %}
          <img src="{% static 'images/channel/avatar/avatar.png' %}" alt="{{request.user.username}}" width="150" height="150" class="rounded-circle shadow-sm p-1 mb-1 bg-dark">
        {% endif %}
      </div>
    <h1 class="display-6 fst-italic text-center">Profile Information</h1>
    <hr>  
    <div class="container">
        <fieldset disabled>
        <div class="row mb-3">
            <div class="col">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="disabledTextInput" class="form-control" name="username" value="{{request.user.username}}">
            </div>
            <div class="col">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="disabledTextInput" class="form-control" name="email" value="{{request.user.email}}">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" id="disabledTextInput" class="form-control" name="firstname" value="{{request.user.first_name}}">
            </div>
            <div class="col">
                <label for="lastname" class="form-label">Lastname</label>
            <input type="text" id="disabledTextInput" class="form-control" name="lastname" value="{{request.user.last_name}}"> 
            </div>
        </div>
        <div class="text-center mt-5">
            <div class="alert alert-primary fs-3" role="alert">
                Update your Profile <a href="{% url 'account:updateUserProfile' %}" class="alert-link">Update <i class="fa-solid fa-user-pen"></i></a>
            </div>
        </div>
        {% if channel %}
        <div class="row mb-3">
            <h1 class="display-6 fst-italic text-center">Channel Information</h1>
            <hr>
            <h1 class="display-6 fst-italic">Join Date <span class="fs-5">({{channel.join_date|date:"M d, Y"  }})</span></h1>
            <div class="col">
                <label class="form-label">Channel Name</label>
            <input type="text" id="disabledTextInput" class="form-control" value="{{channel.channel_name}}"> 
            </div>
            <div class="col">
                <label class="form-label">Channel Slogan</label>
            <input type="text" id="disabledTextInput" class="form-control" value="{{channel.slogan}}"> 
            </div>
            <div class="col">
                <label class="form-label">Channel Subscribe</label>
            <input type="text" id="disabledTextInput" class="form-control" value="{{channel.subscribers.count}}"> 
            </div>
            <div class="col">
                <label class="form-label">Channel Total Videos</label>
            <input type="text" id="disabledTextInput" class="form-control" value="{{total_videos}}"> 
            </div>
            <div class="m-3">
                <label class="form-label">Channel About</label>
                <p class="form-label">{{channel.description|safe}}</p>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="text-center mt-5">
            <div class="alert alert-danger fs-3" role="alert">
                Update your Channel <a href="{% url 'channel:updateChannel'  channel.id %}" class="alert-link">Update <i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        </div>
        {% else %}
            <div class="text-center mt-5">
                <div class="alert alert-dark fs-3" role="alert">
                    Please create your channel! <a href="{% url 'channel:createChannel' %}" class="alert-link">Create New Channel <i class="fa-solid fa-square-plus"></i></a>
                </div>
            </div>
        {% endif %}
    </fieldset>
    </div>
    {% else %}
    <div class="text-center mt-5">
        Sign in to see updates from your profile. <a href="{% url 'account:login' %}" class="alert-link">Log in <i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
    {% endif %}
</div>
{% endblock %}
