{% extends 'base/base.html' %}
{% load static %}
{% block description %}All Channel List · {% endblock description %}
{% block keywords %}All Channel List · {% endblock keywords %}
{% block title %}All Channel List · {% endblock title %}
{% block content %}
<div class="container mt-3">
  {% if channels %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% include 'base/message.html' %}
    {% for channel in channels %}
    <div class="col">
      <div class="card">
        <img src="{{channel.avatar.url}}" class="card-img-top img-responsive" alt="{{channel.channel_name}}">
        <div class="card-body text-center">
          <h5 class="card-title">{{channel.channel_name}} ({{channel.total_subscribers}} subscribers)</h5>
          <p class="card-text">{{channel.description|safe}}</p>
          <a href="{{channel.get_absolute_url}}" class="btn btn-sm stretched-link text-light" style="background-color:#6610f2">Go Channel</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{channel.slogan}}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    {% else %}
      <div class="text-center mt-5">
        <div class="alert alert-success text-center" role="alert">
          Channels will be added soon...
        </div>
      </div>
    {% endif %}
</div>


{% endblock content %}